.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 300px;
}
.title{
    color: darkblue;
    margin-bottom: 30px;
}
.listBlock{
    display: flex;
    flex-direction: column;
}
.list{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}
.item{
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
}